.Team {
    margin-left: 2%;
    margin-right: 2%;
}

.Team:hover {
    background-color:WhiteSmoke;
    border: 1px solid black;
  }

.TeamImage {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 30px;
}